{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Flx Music</title>
    <link rel="icon" href="{% static 'img/icons.png'%}" type="image/x-icon">
    <style>
        body{
            background-color: cadetblue;
        }
        .header{
            background-color: black;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 5px;
        }
        .title{
            color: cadetblue;
        }
        #btn1{
            background-color: black;
            color: cadetblue;
            font-weight: bold;
        }
        #btn1:hover{
            background-color: blue;
            color: white;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <center>
            <div class="header">
                <center>
                    <h1 class="title">
                        Flx Music
                    </h1>
                </center>
            </div>
            <br><br>
            <div class="content">
                <h2 class="c1">
                    Welcome to Flx Music World
                </h2>
                <!-- <br>
                <h4 class="c2">
                    Enjoy your Life with Flx Music <br> By Clicking Play
                </h4> -->
            </div>
            <br>
            <div class="slide">
                <center>
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="10000">
                            <img src="{% static 'img/music1.jpg' %}" class="d-block w-50" alt="...">
                          </div>
                          <div class="carousel-item" data-bs-interval="2000">
                            <img src="{% static 'img/music2.jpg' %}" class="d-block w-50" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'img/music3.jpg' %}" class="d-block w-50" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </center>
            </div>
            <br>
            <br>
            <div class="play">
                <a href="play">
                    <button type="button" class="btn btn-primary btn-lg" id="btn1">Play Music</button>
                </a>
            </div>
            <br>
            <div class="rep">
                <a href="rep">
                    <button type="button" class="btn btn-primary btn-lg" id="btn1">Request</button>
                </a>
            </div>
            <br>
            <div class="rep">
                <a href="admin">
                    <button type="button" class="btn btn-primary btn-lg" id="btn1">Admin</button>
                </a>
            </div>
        </center>
    </div>
</body>
</html>